{% extends 'header.html' %} {% block content %}
<div  class="container h-100" style=""  >
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <div  style="background-color: #eee;" class="form-control form-control-lg" >
            <h1 class="text-uppercase text-center ">Registrarse</h1>
            {{ form.as_p}}
        <!--Username = Alan Zablosky password = Zab123123? email = alan_zablosky@hotmail.com-->
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
        </div>
    </form>
</div>
{% endblock %}